*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
*,*:before,*:after{
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6
{font-size:inherit;font-weight: inherit;}
.game:hover{background: url(https://i.ebayimg.com/images/g/p5gAAOSwal5YLJSs/s-l400.jpg)center/cover;}
.rules:hover{background:url(https://mtlawn.files.wordpress.com/2017/02/rules.jpg)center/cover;}
.players:hover{background:url(https://i.pinimg.com/originals/dc/15/f1/dc15f1be91fe450bfd0ba9106eca3d8c.jpg)center/cover;}
.item:hover{background:url(https://get.wallhere.com/photo/bow-weapon-spear-bow-and-arrow-arrows-long-sword-flail-mace-battle-axe-short-sword-quiver-scimitar-halberds-war-hammer-crossbow-line-69499.jpg)center/cover;}
.interesting:hover{background:url(https://static10.tgstat.ru/channels/_0/2d/2de61109e663f192a2044e8448f48717.jpg)center/cover;}
body{
background: url(https://cdn.kostüme.com/media/catalog/product/cache/1/image/957x/9df78eab33525d08d6e5fb8d27136e95/g/l/gladiator-ritter-schild-mit-schwert1.jpg) center/cover;;
font-family: 'Alumni Sans Pinstripe', sans-serif;
margin: 0 auto;
}
.header__title{
color: white;
}
li{width: 228px;
    height: 70px;
    margin: 0px 6px 0px 6px;
display: inline-flex;
  padding: 20px 50px 20px 50px;
  justify-content: space-around;
  font-size: 40px;
  color: rgb(255, 0, 0);
  transition: 2s;
  border-right:10px red;
  box-shadow:3px 3px 3px 3px black;
  background: rgb(7,6,92);
background: linear-gradient(270deg, rgba(7,6,92,1) 0%, rgba(0,87,70,1) 0%, rgba(0,0,0,1) 62%);

  }
h1{color: rgb(255, 0, 0);
    padding: 40px 0px 20px 0px;
    font-size: 80px;
text-align: center;
font-weight: 900;
}
header{
    margin: 0 auto;
    
}
li:hover{
    color: rgb(251, 255, 0);
    cursor: pointer;
    transition: 2s;
    text-shadow:0px 0px 3px rgb(43, 11, 11);
    font-weight: 900;
    

}
li:active{transition: 1s;
    background: rgb(7,6,92);
background: linear-gradient(270deg, rgba(7,6,92,1) 0%, rgba(0,87,70,1) 0%, rgba(0,0,0,1) 62%);
    box-shadow:1px 1px 1px 1px black;
    border: solid 0px;
}
@media only screen and (max-width: 1225px) {
        li {display: block;}
        li{margin: 0px auto;}
        li{width: 80%;}
        li{text-align: center;}
